<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Education</h2>
                    <br>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>SEPTEMBER 2012 - JULY 2016</h4>
                                    <h4 class="subheading">Double Degree in <br>Engineering and Finance</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Awarded school-level second-class scholarship.<br>
                                        Led a team of 18 people to serve as long-term volunteers in Guangzhou Children's Palace.<br>                                        
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>AUGUST 2016 - JULY 2017</h4>
                                    <h4 class="subheading">Graduate Diploma in <br>Systems Analysis</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Technical learning outcomes: User experience design, Agile and CI/CD Practices, and Code, test and implement proposed solution in C#, ASP MVC, Java and Android<br>
                                        Soft skills learning outcomes: Project management and Teamwork
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>AUGUST 2018 - JULY 2020</h4>
                                    <h4 class="subheading">Master of Science in Analytics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Practiced with interdisciplinary field rooted in applied mathematics, with a range of applications in business, finance, and other industry.<br>
                                        Applied data science knowledge onto practical projects from Kaggle competitions to daily work.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li> -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Never
                                    <br>Stop
                                    <br>Learning!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>