<!-- Skill Sets Section -->
    <section id="skillset">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skill Sets</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                        <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/skillset/data_science.png" alt="">
                    </span>
                    <h4 class="service-heading">Data Science</h4>
                    <p class="text-muted">
                        Data Analysis, Natural Language Processing (NLP)<br>
                        Deep Learning, Data Mining, Data Cleaning<br>
                        Data Visualization, Machine Learning<br>
                        Statistical/Predictive Modeling<br>
                        Project Management, Statistics, Time Series Analysis<br>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i> -->
                        <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/skillset/software_development.png" alt="">
                    </span>
                    <h4 class="service-heading">Software Development & Tools</h4>
                    <p class="text-muted">
                        Python, Java, R, C#, Apache Spark<br>
                        SQL, PostgreSQL, SQL Server, Oracle Database<br>
                        Tomcat, Dotnet, Github<br>
                        Tableau, Microsoft Power BI, Evernote<br>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
                        <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/skillset/finance.png" alt="">
                    </span>
                    <h4 class="service-heading">Finance</h4>
                    <p class="text-muted">
                        Financial Risk Management, Value At Risk (VaR)<br>
                        Association of Chartered Certified Accountants (ACCA)<br>
                        Market Risk, Liquidity Risk, Operational Risk, Credit Risk<br>
                    </p>
                </div>
            </div>
        </div>
    </section>